body{
    background-color: rgb(75, 73, 139);

}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: rgb(57, 55, 55);
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2vh 1vw;
    align-items: center;
    z-index: 10;
}

.logo {
    color: aliceblue;
    font-size: 1.5em;
}
#header{
    background-color: rgb(14, 13, 13);
    color: antiquewhite;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    gap: 20px;
}

.navbar li {
    padding: 10px;
    border-radius: 5px;
}


.navbar a {
    text-decoration: none;
    color: aliceblue;
}
.navbar li:hover {
    background-color: gray;
}
.footer-p{
    width: 40%;
    float: left;
    padding: 1rem;
}
@media (max-width: 768px) {
    .navbar {
        position: relative;
        flex-direction: column;
        height: auto;
        padding: 1vh 0;
    }
.footer-p{
    width: 80%;
    padding: .5rem;
}
    .logo {
        margin-bottom: 10px;
    }

    ul {
        flex-direction: column;
        gap: 10px;
    }

    .navbar li {
        padding: 10px;
        text-align: center;
        width: 100%;
    }
}

.button{
    margin: 0 auto;
    margin-bottom: 20px;
}
#project-tile{
    height: auto;
    color: aliceblue;
    text-align: center;
}
.project-title{
    background-color: grey;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    margin: 0px;
    font-size: 20px;
}
.project-title:hover .code {
    color: rgb(240, 62, 13);
    transition: color 0.3s ease-out;
}

.ti{
    font-size:50px;
    margin-left:300px ;
    padding-top: 70PX;

}
#project-tile img{
    height:400px ;
    width:300px ;
    box-sizing: border-box;
}
.img1{
    float: left;
    padding: 50PX;
}
.img1::after{
    content: "";
    display: table;
    clear: both;
}
.img2{
    float: left;padding: 50PX;
}
.img3{
    float: left;
    padding: 50PX;
}

.img4{
    float: left;
    padding: 50PX;
}
.img5{
    float: left;
    padding: 50PX;
}
.img6{
    float: left;
    padding: 50PX;
}

button:hover {
    background:linear-gradient(to right,#fb2e05,#ff4081);

}
button{
     border:none;
     width: 150px;
     height: 50px;
     color: white;
     font-size:1em ;
     font-weight: 100 ;
     margin-top: 0px;
     background:rgb(36, 35, 35);
 }
.but{
    text-align: center;
    padding-left:230px;
    padding-top:0;
    padding-right:320px ;
}



h1{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 1rem;
    font-size: 4rem;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    padding-bottom: 20px;
}
#footer{
    float: right;
    text-align: center;
    background-color:rgb(57, 55, 55);
    width: 100%;
    bottom: 0;
    height: auto;
    padding: 2rem 0 2rem 0;
    color: aliceblue;
}
h2{
    padding-top: 30px;
    padding-bottom: 30px;
}
.foot a{
    transition: color 0.3s ,transform 0.3s;
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
}
.foot a:hover{
    transform: translateY(8px);
}
.foot{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}
.line1{
    border: 1px solid  white ;
}
